# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.pkl
*.log

# Virtual env
venv/
.env

# Django stuff
*.sqlite3
/staticfiles/
/media/

# VSCode / IDE
.idea/

celerybeat-schedule.dat
celerybeat-schedule.bak
celerybeat-schedule.dir

*.shopify/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
